footer {
  padding-top: 84px;
  padding-bottom: 100px;

  .footer-content {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  @include breakpoint-down(small) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @include breakpoint-down(xsmall) {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .footer-logo {
    max-width: 200px;
    margin-bottom: 24px;

    @include breakpoint-down(small) {
      max-width: 166px;
      margin-bottom: 20px;
    }

    @include breakpoint-down(xsmall) {
      max-width: 138px;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
    }
  }

  .footer-content {
    @include breakpoint-down(medium) {
      max-width: 450px;
    }
  }
  .footer-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 26px;
    align-items: center;

    @include breakpoint-down(medium) {
      justify-content: flex-start;
    }

    @include breakpoint-down(small) {
      flex-direction: column;
      gap: 16px;

      a {
        width: 100%;
      }
    }
  }
}
