@import "variables";

// Box-sizing border-box for everything
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset padding and margin for a cleaner starting point
* {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

// Body global styles
body {
  font-family: metropolis, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

a {
  color: $neutral;
  text-decoration: none;
}

// Removing default ul and li styling
ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Buttons
.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: #fff !important;
  font-weight: 700;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $primary-darken !important;
    border-color: $primary-darken !important;
  }
}

.btn-secondary {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: $shadow-xs !important;
  border: $border-xs !important;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;

  &:hover {
    background-color: $primary !important;
    color: #fff !important;
    box-shadow: none !important;
    border: 1px solid $primary !important;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}

.show-for-tablet {
  @include breakpoint-down(small) {
    display: none !important;
  }
}

// Container
.container-default {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint-down(xsmall) {
    padding: 0 1.25rem;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
