@import "variables";

// Box-sizing border-box for everything
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset padding and margin for a cleaner starting point
* {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

// Body global styles
body {
  font-family: metropolis, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;

  @include breakpoint-down(small) {
    font-size: 16px;
  }
}

.page-wrapper {
  min-height: 100vh;
}

a {
  color: $neutral;
  text-decoration: none;
}

// Removing default ul and li styling
ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Text
h1 {
  color: $neutral;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.161em;

  @include breakpoint-down(medium) {
    font-size: 52px;
  }

  @include breakpoint-down(small) {
    font-size: 43px;
    margin-bottom: 10px;
  }

  @include breakpoint-down(xsmall) {
    font-size: 36px;
  }
}

h2 {
  color: $neutral-800;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.227em;

  @include breakpoint-down(medium) {
    font-size: 38px;
    margin-bottom: 12px;
  }

  @include breakpoint-down(small) {
    font-size: 32px;
  }

  @include breakpoint-down(xsmall) {
    font-size: 28px;
  }
}

h3 {
  color: $neutral-800;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.417em;
}

p {
  color: $neutral-600;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;

  @include breakpoint-down(small) {
    font-size: 16px;
  }
}

.display-title {
  color: $neutral-800;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.429;
  margin-bottom: 16px;

  @include breakpoint-down(small) {
    font-size: 23px;
  }
}

.subtitle {
  color: $primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.111em;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include breakpoint-down(small) {
    font-size: 16px;
  }
}

.text-no-wrap {
  white-space: nowrap;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

// Buttons
.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: #fff !important;
  font-weight: 700;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $primary-darken !important;
    border-color: $primary-darken !important;
  }
}

.btn-secondary {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: 500;
  box-shadow: $shadow-xs !important;
  border: $border-xs !important;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;

  &:hover {
    background-color: $primary !important;
    color: #fff !important;
    box-shadow: none !important;
    border: 1px solid $primary !important;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none !important;
  }
}

.show-for-tablet {
  @include breakpoint-down(small) {
    display: none !important;
  }
}

// Wrapper
.container-default {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint-down(xsmall) {
    padding: 0 1.25rem;
  }
}

.center-element {
  margin-left: auto;
  margin-right: auto;
}

.section-wrapper {
  padding-top: 166px;
  padding-bottom: 166px;

  @include breakpoint-up(xlarge) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @include breakpoint-down(medium) {
    padding-top: 138px;
    padding-bottom: 138px;
  }

  @include breakpoint-down(small) {
    padding-top: 116px;
    padding-bottom: 116px;
  }

  @include breakpoint-down(xsmall) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.inner-wrapper {
  @include breakpoint-down(medium) {
    max-width: 680px;
  }
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 14px 42px 0 $general-shadow-4;
  transform: translate(0);
}

.footer-wrapper {
  border-top: 1px solid $neutral-400;
  background-color: $neutral-100;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Grid
.wrapper-grid-layout {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  row-gap: 16px;
  column-gap: 16px;
}

.grid-1-column {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.grid-2-columns {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 28px;
  column-gap: 28px;
  grid-auto-columns: 1fr;
}

.grid-3-columns {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 28px;
  column-gap: 28px;
  grid-auto-columns: 1fr;
}

.grid-4-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-footer-2-columns {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  align-items: center;

  @include breakpoint-down(medium) {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  @include breakpoint-down(small) {
    row-gap: 30px;
  }
}

// Custom grid settings

.col-1-tablet {
  @include breakpoint-down(medium) {
    grid-template-columns: 1fr;
  }
}

.row-gap-40px {
  row-gap: 40px;
}

.grid-text-right {
  column-gap: 55px;
  grid-template-columns: 1.05fr 1fr;

  @include breakpoint-down(medium) {
    row-gap: 60px;
    grid-template-columns: 1fr;
  }

  @include breakpoint-down(small) {
    row-gap: 50px;
  }
}

.row-gap-64px {
  @include breakpoint-down(medium) {
    row-gap: 64px;
  }

  @include breakpoint-down(small) {
    row-gap: 53px;
  }

  @include breakpoint-down(xsmall) {
    row-gap: 45px;
  }
}
.row-gap-80px {
  row-gap: 80px;

  @include breakpoint-down(medium) {
    row-gap: 64px;
  }

  @include breakpoint-down(small) {
    row-gap: 40px;
  }
}

.row-gap-100px {
  row-gap: 100px;

  @include breakpoint-down(medium) {
    row-gap: 80px;
  }

  @include breakpoint-down(small) {
    row-gap: 70px;
  }
}

// Custom max-width
.max-w-218px {
  max-width: 218px;

  @include breakpoint-down(small) {
    max-width: 182px;
  }
}

.max-w-350px {
  max-width: 350px;
}

.max-w-400px {
  max-width: 400px;
}

.max-w-480px {
  max-width: 480px;
}

.max-w-520px {
  max-width: 520px;
}

.max-w-533px {
  max-width: 533px;
}

.max-width-588px {
  max-width: 588px;
}

.max-w-700px {
  max-width: 700px;
}

.max-w-tablet-100 {
  @include breakpoint-down(medium) {
    max-width: 100%;
  }
}

// Position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

// Color Palette
.color-primary {
  color: $primary;
}

.color-neutral-600 {
  color: $neutral-600;
}

// custom padding and positioning
.top-160px {
  top: 160px;

  @include breakpoint-down(medium) {
    top: 140px;
  }
}

//Card
.card {
  background-color: $neutral-100;
  box-shadow: 0 2px 12px 0 $general-shadow-2;
  border: 1px solid $neutral-300;
  border-radius: 24px;
  overflow: hidden;
}
