main {
  section:nth-child(odd) {
    background-color: $neutral-200;
  }

  section:nth-child(even) {
    background-color: $neutral-100;
  }

  // HERO SECTION
  #hero {
    padding-top: 70px;
    padding-bottom: 127px;

    .inner-container {
      grid-row-gap: 100px;

      @include breakpoint-down(medium) {
        grid-row-gap: 80px;
      }

      @include breakpoint-down(small) {
        grid-row-gap: 70px;
      }

      @include breakpoint-down(xsmall) {
        grid-row-gap: 60px;
      }
    }

    #hero-top {
      grid-template-columns: 1.25fr 1fr;

      @include breakpoint-down(medium) {
        grid-template-columns: 1.25fr;
        grid-row-gap: 60px;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;

        .hero-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        #hero-image {
          max-width: 500px;

          #hero-two,
          #hero-three {
            top: 50%;
            left: 50%;
          }
        }
      }

      @include breakpoint-down(small) {
        grid-row-gap: 50px;
      }

      p {
        max-width: 590px;
        margin-bottom: 0;

        @include breakpoint-down(small) {
          font-size: 16px;
        }
      }

      #hero-two {
        max-width: 45%;
      }

      #hero-three {
        max-width: 55%;
      }
    }

    #stats {
      grid-template-columns: auto auto auto auto;

      @include breakpoint-down(small) {
        column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: auto auto;
        justify-content: center !important;
      }

      @include breakpoint-down(xsmall) {
        column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: space-around !important;
      }

      .stats-title {
        color: $neutral-800;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.179em;

        @include breakpoint-down(medium) {
          font-size: 48px;
        }

        @include breakpoint-down(small) {
          font-size: 40px;
        }

        @include breakpoint-down(xsmall) {
          font-size: 33px;
        }

        span {
          font-weight: 700;
          color: $primary;
        }
      }

      .stats-subtitle {
        color: $neutral-600;
        font-size: 18px;
        line-height: 1.111em;

        @include breakpoint-down(small) {
          font-size: 16px;
        }
      }
    }
  }

  // STORY SECTION
  #story {
    .story {
      row-gap: 100px;

      @include breakpoint-down(medium) {
        #story-image-one {
          grid-row: 2;
        }

        #story-text-one {
          grid-row: 1;
        }
      }
    }
  }

  // JOURNEY SECTION
  #journey {
    .timeline {
      padding: 60px 53px;
    }
  }

  #partners {
    .partner {
      margin-bottom: 32px;
      @include breakpoint-down(medium) {
        margin-bottom: 24px;
      }
    }
  }

  #news {
    .news-title-wrapper {
      text-align: center;
      margin-bottom: 64px;
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint-down(small) {
        margin-bottom: 48px;
      }

      @include breakpoint-down(xsmall) {
        margin-bottom: 40px;
      }
    }

    .card.news {
      padding: 98px 66px;

      @include breakpoint-down(medium) {
        padding: 68px 53px;
      }

      @include breakpoint-down(small) {
        padding: 58px 34px;
      }

      .logo {
        max-height: 28px;
        margin-bottom: 26px;
        align-self: flex-start;
      }

      h3 {
        margin-bottom: 24px;
      }

      .footer-text {
        display: flex;
        justify-content: space-between;

        @include breakpoint-down(xsmall) {
          flex-direction: column;
          gap: 10px;
        }
        .read {
          color: $primary;
          line-height: 1.111em;
          text-decoration: none;
          transition: color 0.3s ease;

          span {
            font-weight: 700;
          }

          img {
            width: 20px;
            transform: rotate(45deg);
          }

          &:hover {
            color: $primary-darken;
          }

          @include breakpoint-down(xsmall) {
            order: 2;
          }
        }

        .date {
          color: $neutral-600;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.111em;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $neutral-700;
          }
        }
      }
    }
  }
}
