// Colors
$primary: #ff5634;
$primary-darken: #e13f1f;
$neutral: #000;
$neutral-800: #121212;
$neutral-700: #3f3f3f;
$neutral-600: #656565;
$neutral-500: #929292;
$neutral-400: #cacaca;
$neutral-300: #ededed;
$neutral-200: #fafafa;
$neutral-100: #fff;

// Shadows
$shadow-xs: 0px 2px 6px 0px rgba(16, 16, 16, 0.04);
$general-shadow-1: rgba(20, 20, 43, 0.06);
$general-shadow-2: rgba(16, 16, 16, 0.08);
$general-shadow-3: rgba(20, 20, 43, 0.1);
$general-shadow-4: rgba(16, 16, 16, 0.14);
$general-shadow-5: rgba(20, 20, 43, 0.16);
$general-shadow-6: rgba(20, 20, 43, 0.24);
// Borders
$border-xs: 1px solid #ededed;
