@import "mixins";
@import "variables";

@import "utilities";
@import "header";
@import "globals";

@font-face {
  font-family: "metropolis";
  src: url("../fonts/Metropolis-normal-700-100.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "metropolis";
  src: url("../fonts/Metropolis-normal-500-100.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
